@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");
html,
body {
  height: 100%;
  background-color: #f9fcfc;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Montserrat;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

a,
p {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  overflow-x: hidden;
}

.conteiner {
  width: 93%;
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (min-height: 1500px) {
  .conteiner {
    position: relative;
    min-height: 100vh;
  }
}

.header {
  min-height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__body {
  margin: 115px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  .header__body {
    margin: 50px 0;
  }
}

@media screen and (min-height: 1500px) {
  .header__body {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

@media screen and (min-height: 650px) and (max-width: 1000px) {
  .header__body {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.header__collumn-one {
  width: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  .header__collumn-one {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    margin-right: 0px;
  }
}

.header__collumn-two {
  display: block;
  width: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 1400px) {
  .header__collumn-two {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .header__collumn-two {
    display: none;
  }
}

.header__above-tittle {
  font-size: 39.6px;
  margin-bottom: 27px;
}

.header__tittle {
  position: relative;
  font-size: 74.4px;
  margin-bottom: 40px;
}

.header__butterfly {
  position: absolute;
  top: -32px;
  left: -39px;
}

.header__subtittle {
  font-size: 20.9px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
}

.header__img {
  width: 653px;
  height: 653px;
}

@media screen and (max-width: 1400px) {
  .header__img {
    width: 653px;
    height: 653px;
  }
}

.button {
  padding: 24px 22px;
  display: inline-block;
  background-color: #000000;
  cursor: pointer;
}

.button__link {
  font-size: 12.5px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-right: 55px;
}

.menu__link {
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}

.menu__item:last-child {
  margin-right: 0px;
}

.logo {
  cursor: pointer;
}

.logo__img {
  width: 209px;
  height: 64px;
}

@media screen and (max-width: 400px) {
  .logo__img {
    width: 150px;
    height: 40px;
  }
}

.logo__mobile {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 70px auto 50px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__mobile .logo__img {
  width: 90px;
  height: 30px;
}

.burger {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 1001;
}

@media screen and (max-width: 1100px) {
  .burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger__item {
  width: 50px;
  height: 5px;
  background-color: #000000;
  margin-bottom: 7px;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger__item-active {
  margin-bottom: -5px;
}

@media screen and (max-width: 400px) {
  .burger__item-active {
    background-color: #ffffff;
  }
}

.burger__item-active:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__item-active:nth-child(2) {
  opacity: 0;
}

.burger__item-active:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  z-index: 1000;
  background-color: #000000;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 400px) {
  .menu-mobile {
    width: 100%;
  }
}

.menu-mobile__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile__item {
  margin-bottom: 55px;
}

.menu-mobile__link {
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.menu-mobile__active {
  left: 0;
}

.largest {
  background-image: url(../img/foot-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% center;
}

.largest__body {
  text-align: center;
  padding: 90px 0;
}

.tittle {
  font-size: 45.9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 34px;
}

@media screen and (max-width: 650px) {
  .tittle {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.tittle__largest {
  color: #ffffff;
}

.subtittle {
  font-size: 20.9px;
  font-weight: 400;
}

@media screen and (max-width: 650px) {
  .subtittle {
    font-size: 16px;
  }
}

.subtittle__largest {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */