@import "_common-style";

.wrapper {
    overflow-x: hidden;
}

.conteiner {
    width: 93%;
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (min-height: 1500px) {
        position: relative;
        min-height: 100vh;
    }
}

//  =========================================header screen=========================================
.header {
    min-height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__body {
        margin: 115px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1400px) {
            margin: 50px 0;
        }

        @media screen and (min-height: 1500px) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
        }

        @media screen and (min-height: 650px) and (max-width: 1000px) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
        }
    }

    &__collumn-one {
        width: 50%;
        margin-right: 30px;

        @media screen and (max-width: 1000px) {
            width: 100%;
            margin-top: 0px;
            text-align: center;
            margin-right: 0px;
        }
    }

    &__collumn-two {
        display: block;
        // position: relative;
        width: 50%;
        border-radius: 50%;
        // box-shadow: 0px 172px 17px -81px rgba(0, 0, 0, 0.75);

        @media screen and (max-width: 1400px) {
            width: 40%;
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    // &__collumn-two::after {
    //     position: absolute;
    //     bottom: 30%;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 30%;
    //     background-color: red;
    // }

    &__above-tittle {
        font-size: 39.6px;
        margin-bottom: 27px;
    }

    &__tittle {
        position: relative;
        font-size: 74.4px;
        margin-bottom: 40px;
    }

    &__butterfly {
        position: absolute;
        top: -32px;
        left: -39px;
    }

    &__subtittle {
        font-size: 20.9px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 35px;
    }

    &__img {
        width: 653px;
        height: 653px;

        @media screen and (max-width: 1400px) {
            width: 653px;
            height: 653px;
        }
    }
}

.button {
    padding: 24px 22px;
    display: inline-block;
    background-color: $primary-color;
    cursor: pointer;

    &__link {
        font-size: 12.5px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
    }
}

//  -------------------------------------------menu-desktop-------------------------------------------
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }

    &__item {
        margin-right: 55px;
    }

    &__link {
        font-size: 16.7px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: $primary-color;
    }

    &__item:last-child {
        margin-right: 0px;
    }
}

// ----------------------------------------------logo----------------------------------------------
.logo {
    cursor: pointer;

    &__img {
        width: 209px;
        height: 64px;

        @media screen and (max-width: 400px) {
            width: 150px;
            height: 40px;
        }
    }

    &__mobile {
        width: 120px;
        height: 120px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 70px auto 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mobile &__img {
        width: 90px;
        height: 30px;
    }
}

// ---------------------------------------------burger-menu---------------------------------------------
.burger {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;

    @media screen and (max-width: 1100px) {
        display: flex;
    }

    &__item {
        width: 50px;
        height: 5px;
        background-color: $primary-color;
        margin-bottom: 7px;
        transition: .5s;
    }

    &__item-active {
        margin-bottom: -5px;

        @media screen and (max-width: 400px) {
            background-color: #ffffff;
        }

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

// ------------------------------------------menu-mobile------------------------------------------

.menu-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    background-color: $primary-color;
    transition: .5s;

    @media screen and (max-width: 400px) {
        width: 100%;
    }

    &__logo-wrapp {}

    &__logo-img {}

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 55px;
    }

    &__link {
        font-size: 16.7px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: #ffffff;
    }

    &__active {
        left: 0;
    }
}


// =========================================largest screen=========================================
.largest {
    background-image: url(../img/foot-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% center;

    &__body {
        text-align: center;
        padding: 90px 0;
    }
}

// ----------------------------------------- h2 tittle-----------------------------------------
.tittle {
    font-size: 45.9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 34px;

    @media screen and (max-width: 650px) {
        font-size: 20px;
        margin-bottom: 24px;
    }

    &__largest {
        color: #ffffff;
    }
}

// --------------------------------------p subtittle for h2--------------------------------------
.subtittle {
    font-size: 20.9px;
    font-weight: 400;

    @media screen and (max-width: 650px) {
        font-size: 16px;

    }

    &__largest {
        color: #ffffff;
    }
}