//============================================ text color
$tc-primary: #484f5b;
$tc-second: #fff;

$tc-form-placeholder: #b0b0b0;

// ============================================ text size

// $ts-h1-from-1500: 85px;
// $ts-h1-from-1500: 85px;



