* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;

}

a,
p,
h1,
h2,
h3,
h4,
h5 {}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}


input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}