@import "_font";
@import "_variables";
@import "_common";
@import "_elements";

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px;
}

.section {
    background-image: url(../img/main-bg.png), linear-gradient(to top right, rgba(53, 53, 68, 1.0), rgba(57, 64, 95, 1.0));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    width: 100%;
  


    &__body {
        padding: 50px 0;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
}

.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 50px;
}

.logo {
    width: 6.747258926061288%;
    max-width: 240px;
    min-width: 80px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contact-info {}

.adress {
    p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
    }

    @media screen and(max-width:1000px) {
        display: none;
    }
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;

    @media screen and(max-width:1000px) {
        margin-top: 0;
    }

    &__icon {
        margin-left: 20px;

        i {
            font-family: FontAwesome;
            font-style: normal;
            font-size: 22px;
            color: #fff;
        }
    }
}

.content {
   padding-top: 130px;
}

.title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e5d19c;
    margin-bottom: 10px;
}

.title-img {
    width: 32.0775934776497%;
    min-width: 280px;
    margin-bottom: 40px;
}

.subtitle {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fefefe;
    margin-bottom: 10px;

}

.time-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #e5d19c;
    margin-bottom: 40px;
}



.site-link {
    a {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #fefefe;
    }

    margin-bottom: 20px;

}

.text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}