@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #484f5b;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 27px 5.8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -100%;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .header__mobile-active {
    right: 0;
    opacity: 1;
  }
}

.logo {
  margin-right: 40px;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-right: 0;
    margin-bottom: 70px;
  }
}

.logo__img {
  max-width: 90px;
  max-height: 90px;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  margin-right: 40px;
}

@media screen and (max-width: 900px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.menu__item:nth-last-child(1) {
  margin-right: 0;
}

.menu__link {
  font-size: 20.9px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1330px) {
  .menu__link {
    font-size: 20px;
  }
}

.burger {
  display: none;
  position: fixed;
  z-index: 3000;
  top: 40px;
  right: 5.8%;
  width: 40px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
  }
}

.burger span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: #484f5b;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #484f5b;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #484f5b;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger-active span {
  left: -100%;
  opacity: 0;
  visibility: hidden;
}

.burger-active::before {
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-active::after {
  bottom: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */